asgiref==3.8.1
asttokens==2.2.1
backcall==0.2.0
colorama==0.4.6
decorator==5.1.1
dill==0.3.8
Django==5.0.9
djangorestframework==3.15.2
executing==1.2.0
ipython==8.10.0
isort==5.13.2
jedi==0.18.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mssql-django==1.5
parso==0.8.3
pickleshare==0.7.5
platformdirs==4.2.0
prompt-toolkit==3.0.36
pure-eval==0.2.2
Pygments==2.13.0
pyodbc==5.2.0
pytz==2024.2
six==1.16.0
sqlparse==0.5.1
stack-data==0.6.2
tomlkit==0.12.3
traitlets==5.8.0
tzdata==2024.2
watermark==2.3.1
wcwidth==0.2.5
